# Music Recommendation

In [24]:
from load_data import *
from embeddings import EmbeddingsBuilder
from create_features.song_features import create_song_features
from create_features.user_features import create_user_features
from catboost import CatBoostRanker, Pool, cv
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold
from sklearn.manifold import TSNE
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Подготовка данных

In [2]:
random_state = 42
data_dir = "./data/"

In [3]:
%%time
song_features_df = create_song_features(data_dir)

CPU times: user 50.3 s, sys: 1.24 s, total: 51.5 s
Wall time: 51.7 s

In [4]:
song_features_df.head(3)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,artist_name_count,composer_count,lyricists_count,isrc_year,genres_count
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0,1,1,1,2014,1
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0,1,3,1,-1,1
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,<UNK>,<UNK>,31.0,1,0,0,-1,0

In [5]:
%%time
user_features_df = create_user_features(data_dir)

CPU times: user 321 ms, sys: 5.45 ms, total: 327 ms
Wall time: 326 ms

In [6]:
user_features_df.head(3)

,msno,city,gender,registered_via,bd_category,registration_init_year,expiration_date_year
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,<UNK>,7,<UNK>,2011,2017
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,<UNK>,7,<UNK>,2015,2017
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,<UNK>,4,<UNK>,2016,2017

In [7]:
train_df = load_train(data_dir + "train.csv")
train_df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [8]:
train_df = train_df.merge(song_features_df, on="song_id", how="left")
train_df = train_df.merge(user_features_df, on="msno", how="left")

In [9]:
train_df.head(3)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,composer_count,lyricists_count,isrc_year,genres_count,city,gender,registered_via,bd_category,registration_init_year,expiration_date_year
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,...,2.0,0.0,2016,0.0,1,<UNK>,7,<UNK>,2012,2017
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,<UNK>,...,0.0,0.0,1999,0.0,13,female,9,young,2011,2017
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,...,1.0,0.0,2006,0.0,13,female,9,young,2011,2017

In [10]:
train_df.source_system_tab = train_df.source_system_tab.cat.add_categories("<UNK>").fillna(value="<UNK>")
train_df.source_screen_name = train_df.source_screen_name.cat.add_categories("<UNK>").fillna(value="<UNK>")
train_df.source_type = train_df.source_type.cat.add_categories("<UNK>").fillna(value="<UNK>")

train_df.msno = train_df.msno.astype("category")
train_df.song_id = train_df.song_id.astype("category")

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7377418 entries, 0 to 7377417
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    category
 1   song_id                 category
 2   source_system_tab       category
 3   source_screen_name      category
 4   source_type             category
 5   target                  uint8
 6   song_length             float64
 7   genre_ids               category
 8   artist_name             category
 9   composer                category
 10  lyricist                category
 11  language                category
 12  artist_name_count       float64
 13  composer_count          float64
 14  lyricists_count         float64
 15  isrc_year               category
 16  genres_count            float64
 17  city                    category
 18  gender                  category
 19  registered_via          category
 20  bd_category             category
 21  registration_init_year  int64
 22  expiration_date_year    int64
dtypes: category(15), float64(5), int64(2), uint8(1)
memory usage: 698.7 MB

In [12]:
na_mask = train_df.isna().any(axis=1)
print(f"Количество записей, для которых не нашлось пользователя или песни: {sum(na_mask)}")

Количество записей, для которых не нашлось пользователя или песни: 114

Их оказалось не так много, уберем из нашего набора данных.

In [13]:
train_df = train_df[~na_mask]

## Задание 1

Построить рекомендации для каждого пользователя, произвести оценку качества с помощью 5-fold CV с метриками NDCG, ROC AUC.

При разработке признаков я умеренно не стал брать признаки, полученные с помощью матричных факторизаций, чтобы потом добавить неклассические эмбеддинги, полученные в задании 2.

В качестве модели машинного обучения я решил использовать **CatBoost**, так как она хорошо работает с категориальными признаками.

In [45]:
cat_columns = train_df.select_dtypes(include=["category"]).columns.values
data = train_df.sort_values(by="msno")

In [46]:
params = {
    "loss_function": "YetiRank", 
    "iterations": 100, 
    "custom_metric": ["NDCG", "QueryAUC:type=Ranking"], 
    "random_seed": random_state
}

data_pool = Pool(data=data.drop("target", axis=1), 
                 label=data.target.values, 
                 group_id=data.msno.cat.codes.values, 
                 cat_features=cat_columns, 
                 has_header=True)

cv_data = cv(params=params, pool=data_pool, fold_count=2, 
             shuffle=True, partition_random_seed=random_state, verbose=False)

0:	test: 0.4938031	best: 0.4938031 (0)	total: 30.4s	remaining: 50m 14s
1:	test: 0.4914225	best: 0.4938031 (0)	total: 57.2s	remaining: 46m 40s
2:	test: 0.4911426	best: 0.4938031 (0)	total: 1m 20s	remaining: 43m 23s
3:	test: 0.4963642	best: 0.4963642 (3)	total: 1m 44s	remaining: 41m 44s
4:	test: 0.5020549	best: 0.5020549 (4)	total: 2m 7s	remaining: 40m 29s
5:	test: 0.5015923	best: 0.5020549 (4)	total: 2m 30s	remaining: 39m 21s
6:	test: 0.5006870	best: 0.5020549 (4)	total: 2m 54s	remaining: 38m 33s
7:	test: 0.5565855	best: 0.5565855 (7)	total: 3m 17s	remaining: 37m 46s
8:	test: 0.6379155	best: 0.6379155 (8)	total: 3m 40s	remaining: 37m 4s
9:	test: 0.6904783	best: 0.6904783 (9)	total: 4m 3s	remaining: 36m 27s
10:	test: 0.6900035	best: 0.6904783 (9)	total: 4m 25s	remaining: 35m 47s
11:	test: 0.6920859	best: 0.6920859 (11)	total: 4m 50s	remaining: 35m 26s
12:	test: 0.6915712	best: 0.6920859 (11)	total: 5m 13s	remaining: 34m 58s
13:	test: 0.7174606	best: 0.7174606 (13)	total: 5m 37s	remaining: 34m 35s
14:	test: 0.7328670	best: 0.7328670 (14)	total: 6m 6s	remaining: 34m 36s
15:	test: 0.7348446	best: 0.7348446 (15)	total: 6m 37s	remaining: 34m 44s
16:	test: 0.7355524	best: 0.7355524 (16)	total: 7m 3s	remaining: 34m 27s
17:	test: 0.7354739	best: 0.7355524 (16)	total: 7m 27s	remaining: 33m 57s
18:	test: 0.7369170	best: 0.7369170 (18)	total: 7m 54s	remaining: 33m 42s
19:	test: 0.7373685	best: 0.7373685 (19)	total: 8m 24s	remaining: 33m 39s
20:	test: 0.7377112	best: 0.7377112 (20)	total: 8m 52s	remaining: 33m 25s
21:	test: 0.7381600	best: 0.7381600 (21)	total: 9m 19s	remaining: 33m 2s
22:	test: 0.7384650	best: 0.7384650 (22)	total: 9m 45s	remaining: 32m 39s
23:	test: 0.7387044	best: 0.7387044 (23)	total: 10m 12s	remaining: 32m 20s
24:	test: 0.7390054	best: 0.7390054 (24)	total: 10m 39s	remaining: 31m 59s
25:	test: 0.7392505	best: 0.7392505 (25)	total: 11m 6s	remaining: 31m 35s
26:	test: 0.7393082	best: 0.7393082 (26)	total: 11m 32s	remaining: 31m 13s
27:	test: 0.7393846	best: 0.7393846 (27)	total: 11m 58s	remaining: 30m 48s
28:	test: 0.7395377	best: 0.7395377 (28)	total: 12m 19s	remaining: 30m 10s
29:	test: 0.7396811	best: 0.7396811 (29)	total: 12m 40s	remaining: 29m 35s
30:	test: 0.7402771	best: 0.7402771 (30)	total: 13m 4s	remaining: 29m 5s
31:	test: 0.7404160	best: 0.7404160 (31)	total: 13m 26s	remaining: 28m 34s
32:	test: 0.7404262	best: 0.7404262 (32)	total: 13m 48s	remaining: 28m 3s
33:	test: 0.7448572	best: 0.7448572 (33)	total: 14m 11s	remaining: 27m 32s
34:	test: 0.7521716	best: 0.7521716 (34)	total: 14m 32s	remaining: 26m 59s
35:	test: 0.7525592	best: 0.7525592 (35)	total: 14m 55s	remaining: 26m 31s
36:	test: 0.7534822	best: 0.7534822 (36)	total: 15m 18s	remaining: 26m 4s
37:	test: 0.7536059	best: 0.7536059 (37)	total: 15m 43s	remaining: 25m 38s
38:	test: 0.7553486	best: 0.7553486 (38)	total: 16m 8s	remaining: 25m 14s
39:	test: 0.7557127	best: 0.7557127 (39)	total: 16m 31s	remaining: 24m 46s
40:	test: 0.7557730	best: 0.7557730 (40)	total: 16m 53s	remaining: 24m 18s
41:	test: 0.7572167	best: 0.7572167 (41)	total: 17m 15s	remaining: 23m 49s
42:	test: 0.7569530	best: 0.7572167 (41)	total: 17m 36s	remaining: 23m 20s
43:	test: 0.7578633	best: 0.7578633 (43)	total: 17m 58s	remaining: 22m 52s
44:	test: 0.7577171	best: 0.7578633 (43)	total: 18m 22s	remaining: 22m 27s
45:	test: 0.7576617	best: 0.7578633 (43)	total: 18m 48s	remaining: 22m 5s
46:	test: 0.7576542	best: 0.7578633 (43)	total: 19m 10s	remaining: 21m 37s
47:	test: 0.7576903	best: 0.7578633 (43)	total: 19m 31s	remaining: 21m 9s
48:	test: 0.7577280	best: 0.7578633 (43)	total: 19m 52s	remaining: 20m 40s
49:	test: 0.7576574	best: 0.7578633 (43)	total: 20m 12s	remaining: 20m 12s
50:	test: 0.7577892	best: 0.7578633 (43)	total: 20m 33s	remaining: 19m 44s
51:	test: 0.7577936	best: 0.7578633 (43)	total: 20m 53s	remaining: 19m 17s
52:	test: 0.7577454	best: 0.7578633 (43)	total: 21m 14s	remaining: 18m 49s
53:	test: 0.7576725	best: 0.7578633 (43)	total: 21m 34s	remaining: 18m 22s
54:	test: 0.7577410	best: 0.7578633 (43)	total: 21m 54s	remaining: 17m 55s
55:	test: 0.7578027	best: 0.7578633 (43)	total: 22m 15s	remaining: 17m 28s
56:	test: 0.7611506	best: 0.7611506 (56)	total: 22m 35s	remaining: 17m 2s
57:	test: 0.7617996	best: 0.7617996 (57)	total: 22m 55s	remaining: 16m 36s
58:	test: 0.7617703	best: 0.7617996 (57)	total: 23m 16s	remaining: 16m 10s
59:	test: 0.7617431	best: 0.7617996 (57)	total: 23m 37s	remaining: 15m 44s
60:	test: 0.7617317	best: 0.7617996 (57)	total: 24m	remaining: 15m 20s
61:	test: 0.7618194	best: 0.7618194 (61)	total: 24m 24s	remaining: 14m 57s
62:	test: 0.7616762	best: 0.7618194 (61)	total: 24m 44s	remaining: 14m 31s
63:	test: 0.7617706	best: 0.7618194 (61)	total: 25m 5s	remaining: 14m 7s
64:	test: 0.7619869	best: 0.7619869 (64)	total: 25m 28s	remaining: 13m 43s
65:	test: 0.7634461	best: 0.7634461 (65)	total: 25m 48s	remaining: 13m 17s
66:	test: 0.7635919	best: 0.7635919 (66)	total: 26m 8s	remaining: 12m 52s
67:	test: 0.7634709	best: 0.7635919 (66)	total: 26m 28s	remaining: 12m 27s
68:	test: 0.7635698	best: 0.7635919 (66)	total: 26m 49s	remaining: 12m 3s
69:	test: 0.7641300	best: 0.7641300 (69)	total: 27m 13s	remaining: 11m 39s
70:	test: 0.7646395	best: 0.7646395 (70)	total: 27m 37s	remaining: 11m 16s
71:	test: 0.7649548	best: 0.7649548 (71)	total: 27m 57s	remaining: 10m 52s
72:	test: 0.7650452	best: 0.7650452 (72)	total: 28m 17s	remaining: 10m 27s
73:	test: 0.7650285	best: 0.7650452 (72)	total: 28m 39s	remaining: 10m 4s
74:	test: 0.7649722	best: 0.7650452 (72)	total: 29m 3s	remaining: 9m 41s
75:	test: 0.7663728	best: 0.7663728 (75)	total: 29m 26s	remaining: 9m 17s
76:	test: 0.7663307	best: 0.7663728 (75)	total: 29m 48s	remaining: 8m 54s
77:	test: 0.7663229	best: 0.7663728 (75)	total: 30m 13s	remaining: 8m 31s
78:	test: 0.7663417	best: 0.7663728 (75)	total: 30m 37s	remaining: 8m 8s
79:	test: 0.7667664	best: 0.7667664 (79)	total: 30m 58s	remaining: 7m 44s
80:	test: 0.7675121	best: 0.7675121 (80)	total: 31m 23s	remaining: 7m 21s
81:	test: 0.7676541	best: 0.7676541 (81)	total: 31m 44s	remaining: 6m 58s
82:	test: 0.7674275	best: 0.7676541 (81)	total: 32m 4s	remaining: 6m 34s
83:	test: 0.7676227	best: 0.7676541 (81)	total: 32m 24s	remaining: 6m 10s
84:	test: 0.7675358	best: 0.7676541 (81)	total: 32m 44s	remaining: 5m 46s
85:	test: 0.7679116	best: 0.7679116 (85)	total: 33m 3s	remaining: 5m 22s
86:	test: 0.7686009	best: 0.7686009 (86)	total: 33m 23s	remaining: 4m 59s
87:	test: 0.7686316	best: 0.7686316 (87)	total: 33m 43s	remaining: 4m 35s
88:	test: 0.7685203	best: 0.7686316 (87)	total: 34m 2s	remaining: 4m 12s
89:	test: 0.7685896	best: 0.7686316 (87)	total: 34m 25s	remaining: 3m 49s
90:	test: 0.7687132	best: 0.7687132 (90)	total: 34m 49s	remaining: 3m 26s
91:	test: 0.7687999	best: 0.7687999 (91)	total: 35m 12s	remaining: 3m 3s
92:	test: 0.7690186	best: 0.7690186 (92)	total: 35m 35s	remaining: 2m 40s
93:	test: 0.7691240	best: 0.7691240 (93)	total: 35m 57s	remaining: 2m 17s
94:	test: 0.7692384	best: 0.7692384 (94)	total: 36m 21s	remaining: 1m 54s
95:	test: 0.7695915	best: 0.7695915 (95)	total: 36m 44s	remaining: 1m 31s
96:	test: 0.7696208	best: 0.7696208 (96)	total: 37m 6s	remaining: 1m 8s
97:	test: 0.7696550	best: 0.7696550 (97)	total: 37m 28s	remaining: 45.9s
98:	test: 0.7698984	best: 0.7698984 (98)	total: 37m 49s	remaining: 22.9s
99:	test: 0.7699394	best: 0.7699394 (99)	total: 38m 10s	remaining: 0us

In [48]:
cv_data

,iterations,test-PFound-mean,test-PFound-std,test-NDCG:type=Base-mean,test-NDCG:type=Base-std,test-QueryAUC:type=Ranking-mean,test-QueryAUC:type=Ranking-std
0,0,0.493803,0.005849,0.791047,0.000026,0.528079,0.000300
1,1,0.491422,0.008484,0.791139,0.000394,0.528147,0.000020
2,2,0.491143,0.008955,0.791034,0.000519,0.528186,0.000069
3,3,0.496364,0.015481,0.792818,0.002780,0.529192,0.001614
4,4,0.502055,0.006850,0.794471,0.000271,0.530278,0.000459
...,...,...,...,...,...,...,...
95,95,0.769591,0.000044,0.848015,0.001024,0.552037,0.001075
96,96,0.769621,0.000120,0.848075,0.000964,0.552099,0.001021
97,97,0.769655,0.000152,0.848071,0.000953,0.552133,0.000981
98,98,0.769898,0.000441,0.848187,0.000814,0.552218,0.000922
99,99,0.769939,0.000376,0.848203,0.000827,0.552254,0.000882

## Задание 2

Построить неклассические эмбеддинги и исследовать их полезность.

In [20]:
%%time
embeddings = EmbeddingsBuilder(embedding_dim=100, random_state=random_state)
embeddings.fit(train_df)

Fitting users: 100%|██████████| 30755/30755 [15:54<00:00, 32.23it/s]

CPU times: user 17min 18s, sys: 10.5 s, total: 17min 28s
Wall time: 16min 33s

Посмотрим на похожие песни и пользователей, визуализировав их с помощью t-SNE.

In [25]:
t_sne = TSNE(n_components=2)

In [ ]:
song_features_df.groupby(["genre_ids", "artist_name"]).count()